{% extends 'base.html.twig' %}

{% block title %}Hello HomeController!{% endblock %}

{% block body %}
    <style>
        .video_box{
            border: 1px solid black;
            width: 275px;
            height: 150px;
        }
        .description_box{
            border: 1px solid black;
            width: 300px;
            min-height: 75px;
        }
        .download_box{
            border-bottom: 1px solid black;
            border-right: 1px solid black;
            width: 25px;
            height: 25px;
        }
    </style>

    <div class="row">
        <div class="col btn-group">
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
            <div class="btn border"><p class="text-dark">Placeholder</p></div>
        </div>
    </div>
<div class="row">
    <div class="col-12 col-md-6 my-1">
        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="video_box mt-1 mb-1 ml-1">
                        <div class="download_box">
                            <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h1>Example</h1>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="description_box mr-1 mb-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
<div class="col-12 col-md-6 my-1">
    <div class="card">
        <div class="row">
            <div class="col">
                <div class="video_box mt-1 mb-1 ml-1">
                    <div class="download_box">
                        <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>Example</h1>
                <div class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="description_box mr-1 mb-1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 my-1">
    <div class="card">
        <div class="row">
            <div class="col">
                <div class="video_box mt-1 mb-1 ml-1">
                    <div class="download_box">
                        <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>Example</h1>
                <div class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="description_box mr-1 mb-1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 my-1">
    <div class="card">
        <div class="row">
            <div class="col">
                <div class="video_box mt-1 mb-1 ml-1">
                    <div class="download_box">
                        <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>Example</h1>
                <div class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="description_box mr-1 mb-1">
                </div>
            </div>
        </div>
    </div>
</div>
<div class="col-12 col-md-6 my-1">
    <div class="card">
        <div class="row">
            <div class="col">
                <div class="video_box mt-1 mb-1 ml-1">
                    <div class="download_box">
                        <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                    </div>
                </div>
            </div>
            <div class="col">
                <h1>Example</h1>
                <div class="stars">
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                    <i class="far fa-star"></i>
                </div>
                <div class="description_box mr-1 mb-1">
                </div>
            </div>
        </div>
    </div>
</div>
    <div class="col-12 col-md-6 my-1">
        <div class="card">
            <div class="row">
                <div class="col">
                    <div class="video_box mt-1 mb-1 ml-1">
                        <div class="download_box">
                            <i class="fas fa-arrow-alt-circle-down ml-1"></i>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <h1>Example</h1>
                    <div class="stars">
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                        <i class="far fa-star"></i>
                    </div>
                    <div class="description_box mr-1 mb-1">
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


{% endblock %}
