{% extends 'base.html.twig' %}

{% block title %}Hello AdminController!{% endblock %}

{% block stylesheets %}
    {{ parent() }}
{% endblock %}

{% block body %}
    <div class="w-100 d-none d-lg-block">
        <div class="card w-75 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Geheugen gebruik</h3>
            </div>
            <div class="card-body">
                <div class="progress" style="height:50px">
                    <div class="progress-bar" style="width:36.5%;height:50px">36.5GB</div>
                </div>
                <div class="mt-2">
                    <h4>36.5GB of 100GB in gebruik</h4>
                </div>
            </div>
        </div>
        <div class="card w-75 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Gebruikers online</h3>
            </div>
            <div class="card-body">
                <div class="mt-2 d-flex justify-content-between">
                    <h4 class="d-inline-block ml-5">Online: 359<i class="fas fa-circle text-success ml-1"></i></h4>
                    <h4 class="d-inline-block">Offline: 1238<i class="fas fa-circle text-danger ml-1"></i></h4>
                    <h4 class="d-inline-block mr-5">Totaal: 1597<i class="fas fa-circle text-muted ml-1"></i></h4>
                </div>
            </div>
        </div>

        <div class="card w-75 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Aantal keer bekeken video's</h3>
            </div>
            <div class="card-body">
                <div class="mt-2 d-flex justify-content-around">
                    <h4 class="d-inline-block ml-5">Totaal aantal bekeken video's : 359 <i class="fas fa-eye"></i></h4>
                </div>
                <hr/>
                <div class="mt-2 d-flex justify-content-between">
                    <h4 class="d-inline-block ml-5">Categorie 1: 359 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-inline-block">Categorie 2: 1238 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-inline-block mr-5">Categorie 3: 1597 <i class="fas fa-eye ml-1"></i></h4>
                </div>
                <div class="mt-2 d-flex justify-content-between">
                    <h4 class="d-inline-block ml-5">Categorie 4: 359 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-inline-block">Categorie 5: 1238 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-inline-block mr-5">Categorie 6: 1597 <i class="fas fa-eye ml-1"></i></h4>
                </div>
            </div>
        </div>
    </div>

    <div class="w-100 d-block d-lg-none">
        <div class="card w-100 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Geheugen gebruik</h3>
            </div>
            <div class="card-body">
                <div class="progress" style="height:50px">
                    <div class="progress-bar" style="width:36.5%;height:50px">36.5GB</div>
                </div>
                <div class="mt-2">
                    <h4>36.5GB of 100GB in gebruik</h4>
                </div>
            </div>
        </div>
        <div class="card w-100 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Gebruikers online</h3>
            </div>
            <div class="card-body">
                <div class="mt-2 d-flex justify-content-around">
                    <h4 class="d-inline-block">Online: 359<i class="fas fa-circle text-success ml-1"></i></h4>
                </div>
                <div class="mt-2 d-flex justify-content-around">
                    <h4 class="d-inline-block">Offline: 1238<i class="fas fa-circle text-danger mr-1"></i></h4>
                </div>
                <div class="mt-2 d-flex justify-content-around">
                    <h4 class="d-inline-block">Totaal: 1597<i class="fas fa-circle text-muted ml-1"></i></h4>
                </div>
            </div>
        </div>

        <div class="card w100 mx-auto my-3">
            <div class="card-header bg-secondary">
                <h3>Aantal keer bekeken video's</h3>
            </div>
            <div class="card-body">
                <div class="mt-2 d-flex justify-content-around">
                    <h4 class="d-inline-block ml-5">Totaal aantal bekeken video's : 359 <i class="fas fa-eye"></i></h4>
                </div>
                <hr/>
                <div class="mt-2 text-center">
                    <h4 class="d-block">Categorie 1: 359 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-block">Categorie 2: 1238 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-block">Categorie 3: 1597 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-block">Categorie 4: 359 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-block">Categorie 5: 1238 <i class="fas fa-eye ml-1"></i></h4>
                    <h4 class="d-block">Categorie 6: 1597 <i class="fas fa-eye ml-1"></i></h4>
                </div>
            </div>
        </div>
    </div>
{% endblock %}
