<nav class="navbar navbar-expand-lg navbar-light bg-primary border-bottom">
    {% if is_granted("ROLE_USER") %}
        <button class="navbar-toggler" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
    {% endif %}

    <div class="mx-auto">
        <h1>Sportonline</h1>

    </div>
</nav>

