<nav class="navbar navbar-light bg-primary border-bottom">
    {% if is_granted("ROLE_USER") %}
        <button class="navbar-toggler d-block" id="menu-toggle"><span class="navbar-toggler-icon"></span></button>
    {% endif %}

    <div class="mx-auto">
        <h1><img height="70px" align="Sport Online"
                 src="{{ asset("images/Logo_Sport_Online_header.png") }}"></h1>

    </div>
</nav>

