<div class="bg-primary border-right" id="sidebar-wrapper">
    <div class="sidebar-heading">Sportonline</div>
    <div class="list-group list-group-flush">
        <a href="{{ url('app_homepage') }}" class="list-group-item list-group-item-action bg-primary">Home</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary">Placeholder</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary">Placeholder</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary">Placeholder</a>
        <a href="#" class="list-group-item list-group-item-action bg-primary">Placeholder</a>
        <a href="{{ url('admin_dashboard') }}" class="list-group-item list-group-item-action bg-primary">Beheer</a>
    </div>
</div>