


{#<div class="col-2 float-left pl-0 pr-0 collapse width show bg-primary navbar-collapse" id="sidebar">#}
{#    <div class="list-group border-0 card text-center text-md-left">#}
{#        #}{##}{#        <ul class="d-inline-block">#}
{#        #}{##}{#            <li class="nav-item dropdown">#}
{#        #}{##}{#                <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button"#}
{#        #}{##}{#                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">#}
{#        #}{##}{#                    Login Debug#}
{#        #}{##}{#                </a>#}
{#        #}{##}{#                <div class="dropdown-menu" aria-labelledby="navbarDropdown">#}
{#        #}{##}{#                    <a class="dropdown-item" href="{{ url('auth_login') }}">Login</a>#}
{#        #}{##}{#                    <a class="dropdown-item" href="{{ url('auth_logout') }}">Logout</a>#}
{#        #}{##}{#                    <div class="dropdown-divider"></div>#}
{#        #}{##}{#                    <a class="dropdown-item" href="{{ url('auth_register') }}">Register</a>#}
{#        #}{##}{#                </div>#}
{#        #}{##}{#            </li>#}
{#        #}{##}{#        </ul>#}


{#        <a href="#menu1" class="list-group-item d-inline-block collapsed" data-toggle="collapse"#}
{#           aria-expanded="false"><i class="fa fa-dashboard"></i> <span class="d-none d-md-inline">Item 1</span> </a>#}
{#        <div class="collapse" id="menu1" data-parent="#sidebar">#}
{#        </div>#}
{#        <a href="#" class="list-group-item d-inline-block collapsed"><i class="fa fa-film"></i> <span#}
{#                    class="d-none d-md-inline">Item 2</span></a>#}
{#        <a href="#menu3" class="list-group-item d-inline-block collapsed" data-toggle="collapse"#}
{#           aria-expanded="false"><i class="fa fa-book"></i> <span class="d-none d-md-inline">Item 3 </span></a>#}
{#        <div class="collapse" id="menu3" data-parent="#sidebar">#}
{#            <a href="#" class="list-group-item" data-parent="#menu3">3.1</a>#}
{#            <a href="#menu3sub2" class="list-group-item" data-toggle="collapse" aria-expanded="false">3.2 </a>#}
{#            <div class="collapse" id="menu3sub2">#}
{#                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 a</a>#}
{#                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 b</a>#}
{#                <a href="#" class="list-group-item" data-parent="#menu3sub2">3.2 c</a>#}
{#            </div>#}
{#            <a href="#" class="list-group-item" data-parent="#menu3">3.3</a>#}
{#        </div>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-heart"></i>#}
{#        #}{##}{#            <span class="d-none d-md-inline">Item 4</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-list"></i>#}
{#        #}{##}{#            <span class="d-none d-md-inline">Item 5</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i#}
{#        #}{##}{#                    class="fa fa-clock-o"></i> <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-th"></i>#}
{#        #}{##}{#            <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-gear"></i>#}
{#        #}{##}{#            <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i#}
{#        #}{##}{#                    class="fa fa-calendar"></i> <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i#}
{#        #}{##}{#                    class="fa fa-envelope"></i> <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i#}
{#        #}{##}{#                    class="fa fa-bar-chart-o"></i> <span class="d-none d-md-inline">Link</span></a>#}
{#        #}{##}{#        <a href="#" class="list-group-item d-inline-block collapsed" data-parent="#sidebar"><i class="fa fa-star"></i>#}
{#        #}{##}{#            <span class="d-none d-md-inline">Link</span></a>#}
{#    </div>#}
{#</div>#}